<div ng-repeat="i in thing">
    <div ng-click="changeClass(theClasses[$index], $event)" ng-class="{{theClasses[$index]}}">
        <div ng-if="i.subType === 'Lecture'">
            <img class="icon" src='assets/images/triangle.png'>
        </div>
        <div ng-if="i.subType === 'Show'">
            <img class="icon" src='assets/images/circle.png'>
        </div>
        <div class="icon" ng-if="i.subType === 'Award Nominee'">
            <img class="icon" src='assets/images/square.png'>
        </div>
        <p>{{i.name}}</p>
        <p>{{i.subType}}</p>
        <p>{{i.shortDescription}}</p>

    </div>

</div>
