.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    clear: both;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.holder {
    height: 300px;
    width: 200px;
    position: relative;
    margin-bottom: 60px;
}

.top, .bottom, .middle {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    height: 200px;
    width: 300px;

}
.top {
    z-index: 10;
    top: 20px;
    background-color: white;
    p:first-of-type{
        font-size: 1.2em;
    }
}

.middle {
    z-index: 5;
    top: 60px;
    background-color: white;


    p:first-of-type {
        position: relative;
        float: left;
        top: 160px;
    }
}

.bottom:hover, .middle:hover{
     background-color:#e7e7e7;
}

.bottom {
    z-index: 0;
    top: 100px;
    background-color: white;
    p:first-of-type {
        position: relative;
        float: left;
        top: 160px;
    }
}

.icon {
    float: right;
}

.modal-body {
    font-size: 1.2em;
    width: 300px;
    height: 300px;
}

.name {
    font-size: 1.5em;
}
